<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>All user data</h1>
    <form action="/search">
      <input type="text" name="srch"><button>submit</button>
    </form>
    {%if users%}
    <table border="1px" cellspacing="10px">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>phone</th>
          <th>email</th>
          <th>password</th>
          <th colspan="3">action</th>
          <th colspan="2">
            blog
          </th>
        </tr>
      </thead>
      <tbody>
        {%for user in users%}
        <tr>
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.email}}</td>
          <td>{{user.password}}</td>
          <td><a href="/delete?id={{user.id}}">delete</a></td>
          <td><a href="/edit/{{user.id}}">edit</a></td>
          <td><a href="/delete2/{{user.id}}">delete2</a></td>
          <td><a href="/blog/add/{{user.id}}">AddBlog</a></td>
          <td><a href="/blog/view/{{user.id}}">ViewBlogs</a></td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
    {%else%}
    <h1>No records found</h1>
    {%endif%}
  </body>
</html>
